.site-header {
    padding: 26px 0 11px !important;

    .logo {
        height: auto;
        max-width: 140px;
        max-height: 40px;
        width: 100%;
    }
}

.site-name a {
    color: map-get($colors, 'black');
    cursor: pointer;
    font-size: 32px;
    font-weight: bold !important;
    text-transform: uppercase;
}